div.a {
    width: 300px;
    border: #fb6304 1px solid;
}

input.or {
    background-color: #fb6304;
    font-weight: bold;
    border: white 1px solid;
    height: 36px;
    width: 180px;
}

div.b {
    width: 400px;
    height: 315px;
    border: black solid 1px;
}

input.all {
    accent-color: #fb6304;
}

input.t {
    width: 313px;
    height: 28px;
}

input.gh {
    height: 28px;
}

input.pol {
    width: 200px;
}

select.op {
    width: 160px;
    height: 34px;
}

select.y {
    width: 50px;
    height: 34px;
}

input.y {
    width: 100px;
    height: 28px;
}

div.c {
    width: 300px;
    height: 600px;
}

input.th {
    width: 290px;
    height: 28px;
}

input.final {
    background-color: #70a401;
    font-weight: bold;
    height: 36px;
    width: 300px;
    border: white 1px solid;
}